
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Darumadrop+One&family=Just+Me+Again+Down+Here&family=Londrina+Sketch&family=Palette+Mosaic&display=swap');

.beth-ellen-regular {
  font-family: "Beth Ellen", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
  background: #ddb292;
}

section {
  padding-bottom: 30%;

}

iframe {
  border: 1px solid black;
  width: 100%; 
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

.grid {
  display: grid;
  grid-template-columns: 1/5 1/5 1/5 1/5 1/5 ;
  grid-template-rows: 8em 8em 8em 8em 8em 8em 8em 8em 8em 8em 8em 8em;

  padding: 18px;
  border-style: dotted;

  grid-template-areas:
  "vogue vogue wiki wiki damtuh"
  "vogue vogue wiki wiki damtuh"
  "vogue vogue wiki wiki damtuh"
  "box6 chaan chaan box7 box8"
  "box6 chaan chaan sorate sorate"
  "ts ts te sorate sorate"
  "ts ts te sorate sorate"
  "kettl kettl harney harney harney"
  "kettl kettl harney harney harney"
  "smy sred sgreen sbrown smatcha"
  "smy sred sgreen sbrown smatcha"
  "tea hist yt ypl ymatcha"
  "box9 hist yt ypl ymatcha"
  "last last last last last";


}

@media (max-width: 1650px) {
  .grid { 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;
  }

}

  .wiki {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
  }


.heading {
  font-size: 5vw;
  text-align: center;
  font-family: "Beth Ellen", cursive;
  padding: 5rem;
}



@media (max-width: 1250px) {
  .grid { 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 140px;
  }
}

@media (max-width: 1050px) {
  .grid { 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 140px;
  }
}

@media (max-width: 850px) {
  .grid { 
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 140px;
  }
}
